#error, .section {
  display:none;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color:orangered;
  color:#fff;
  font-size:20vh;
  padding-top:10%;
  text-align:center;
}

#error{
  background-color:red;
}